name: Rust

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'
    branches:
      - 'master'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'

jobs:
  check:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    if: github.event.pull_request.draft == false
    uses: DoumanAsh/douman-ci/.github/workflows/rust.yml@master
    with:
      runs-on: ${{ matrix.os }}
      min-rustc-version: "1.64.0"
      cargo-features: "thread,process"

  cross-platform-test:
    needs: [check]
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        target: [
          "arm-unknown-linux-musleabi",
          "i586-unknown-linux-musl",
          "powerpc-unknown-linux-gnu",
          "aarch64-unknown-linux-musl",
        ]
    uses: DoumanAsh/douman-ci/.github/workflows/cross-rust.yml@master
    with:
      cargo-features: "thread,process"
      cargo-target: ${{ matrix.target }}
      cargo-no-features: true
